h1 {
 text-align: center;
 color: mediumpurple;
}

body {
 background-color: mediumturquoise;
}

img {
 width: 20%;
 border: 2px solid pink;
}

h3,
p, 
li {
 font-size: 20px;
 font-weight: normal;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

h3
{
 font-weight: bold;
 font-size: 28px;
}
